

h1
{
    color: white;
}

h2
{
    color: white;
}

a
{
    color: blue;

}


h3
{
    color: black;
}

li
{
    color: white;
}

p
{
    color: white;
}


body
{
    background-color: grey;
    background: white;
    color: grey;
    font-family: "Loki Colas", sans-serif;
    text-align: center;
}





#acceuil
{

    width: 800px;
    margin:0 auto;
    background-color: #696969 ;
    text-align: center;
    align-content: center;
}


h1
{
    color: white;
}

h2
{
    color: white;
}



h3
{
    color: black;
}

li
{
    color: white;
}

p
{
    color: white;
}


body
{
    background-color: grey;
}

nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}


nav.menu-nav ul li.btn a{
	color: #fff;
	background-color: red;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
}

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}


#photo
{

    width: 800px;
    margin:0 auto;
    background-color: #696969 ;
    text-align: center;
    align-content: center;
}

h1 
{
  color: black;

}
